<?xml version="1.0"?>
<config>
    <modules>
        <EM_Ajaxproducts>
            <version>0.1.0</version>
        </EM_Ajaxproducts>
    </modules>
    <frontend>
        <routers>
            <ajaxproducts>
                <use>standard</use>
                <args>
                    <module>EM_Ajaxproducts</module>
                    <frontName>ajaxproducts</frontName>
                </args>
            </ajaxproducts>
        </routers>
        <layout>
            <updates>
                <ajaxproducts>
                    <file>ajaxproducts.xml</file>
                </ajaxproducts>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ajaxproducts>
				<use>admin</use>
				<args>
					<module>EM_Ajaxproducts</module>
					<frontName>ajaxproducts</frontName>
				</args>
			</ajaxproducts>
        </routers>
    </admin>
    
    <global>
        <models>
            <ajaxproducts>
                <class>EM_Ajaxproducts_Model</class>
                <resourceModel>ajaxproducts_mysql4</resourceModel>
            </ajaxproducts>
            <ajaxproducts_mysql4>
                <class>EM_Ajaxproducts_Model_Mysql4</class>
                <entities>
                    <ajaxproducts>
                        <table>ajaxproducts</table>
                    </ajaxproducts>
                </entities>
            </ajaxproducts_mysql4>
        </models>
        <resources>
            <ajaxproducts_setup>
                <setup>
                    <module>EM_Ajaxproducts</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxproducts_setup>
            <ajaxproducts_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxproducts_write>
            <ajaxproducts_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxproducts_read>
        </resources>
        <blocks>
            <ajaxproducts>
                <class>EM_Ajaxproducts_Block</class>
            </ajaxproducts>
        </blocks>
        <helpers>
            <ajaxproducts>
                <class>EM_Ajaxproducts_Helper</class>
            </ajaxproducts>
        </helpers>
    </global>
</config>